
<body>
  <main>
    <header>
      <h2 class="textos">Primeiros passos</h2>
    </header>
    <section>
      <h3>Área do professor</h3>
      <ul class="listas">
        <li class="lista-primeiros-passos">
          <span class="numero">1- </span>
          <span class="texto-primeiros-passos">Baixe o aplicativo <strong>Wix Owner</strong> na Play Store ou App Store.</span>
        </li>
        <li class="lista-primeiros-passos">
          <span class="numero">2- </span>
          <span class="texto-primeiros-passos">Entre com sua conta, personalizada pela nossa equipe, no aplicativo.</span>
        </li>
        <li class="lista-primeiros-passos">
          <span class="numero">3- </span>
          <span class="texto-primeiros-passos">Compartilhe o seu código com o aluno para que ele faça o cadastro na sua aplicação.</span>
        </li>
      </ul>
    </section>
      <div class="imgs">
        <img src="../../assets/img-primeiros-passos/personal-pegando-codigo-1.jpg" alt="personal-pegando-codigo-1" class="img-cadastro">
        <img src="../../assets/img-primeiros-passos/personal-pegando-codigo-2.jpg" alt="personal-pegando-codigo-2" class="img-cadastro">
      </div>
    <section>
      <h3>Área do aluno</h3>
      <ul class="listas">
        <li class="lista-primeiros-passos">
          <span class="numero">1- </span>
          <span class="texto-primeiros-passos">Baixe o aplicativo <strong>Fit by Wix</strong> na Play Store ou App Store.</span>
        </li>
        <li class="lista-primeiros-passos">
          <span class="numero">2- </span>
          <span class="texto-primeiros-passos">Registre uma conta, podendo ser vinculada com e-mail ou facebook, e faça o login com ela.</span>
        </li>
        <li class="lista-primeiros-passos">
          <span class="numero">3- </span>
          <span class="texto-primeiros-passos">Pegue o código concedido pelo professor e insira no campo "Inserir Código".</span>
        </li>
      </ul>
    </section>
    <section>
      <div class="imgs">
        <img src="../../assets/img-primeiros-passos/aluno-pede-codigo.jpg" alt="" class="img-cadastro">
        <img src="../../assets/img-primeiros-passos/aluno-inserir-codigo.jpg" alt="" class="img-cadastro">
      </div>
    </section>
    <h4 class="textos">Pronto, agora professor e aluno estão conectados.</h4>
  </main>
</body>

