<body>
  <main>
    <header>
      <h2 class="textos">Como criar uma ficha</h2>
    </header>
    <section>
      <ul class="listas">
        <li class="lista">
          <span class="numero">1- </span>
          <span class="texto">Abra o aplicativo e clique no botão<strong> Adicionar</strong> , que está localizado no centro inferior.</span>
        </li>
        <li class="lista">
          <span class="numero">2- </span>
          <span class="texto">Selecione a opção <strong>Criar programa</strong> e escolha criar um <strong>Template em branco</strong>.</span>
        </li>
          <img src="../../assets/img-criar-ficha/criar-programa.png" alt="criar-programa" class="img-criar-ficha">
        <li class="lista">
          <span class="numero">3- </span>
          <span class="texto">Siga as etapas preenchendo as informções necessárias.</span>
        </li>
        <li class="lista">
          <span class="numero">4- </span>
          <span class="texto">Após definir o nome, o tipo de progresso e o tempo, você tera uma ficha em branco para construir.</span>
        </li>
        <li class="lista">
          <span class="numero">5- </span>
          <span class="texto">Comece colocando uma imagem, clique nos <strong>3 pontinhos</strong> no canto superior direito e vá em <strong>Editar</strong>.</span>
        </li>
        <img src="../../assets/img-criar-ficha/editar-programa-inicio.png" alt="criar-programa" class="img-criar-ficha">
        <li class="lista">
          <span class="numero">6-. </span>
          <span class="texto">Clique em <strong>Adicionar imagem de capa ou vídeo</strong> e escolha a mídia de sua preferência.</span>
        </li>
        <li class="lista">
          <span class="numero">7- </span>
          <span class="texto">Adicione uma descrição com as informações que achar necessárias para o aluno.</span>
        </li>
        <li class="lista">
          <span class="numero">8- </span>
          <span class="texto">Desça a tela para configurar <strong>Ordem das etapas</strong> e marque a opção de <strong>Ordem fixa</strong>, esta opção não vai deixar o aluno pular etapas.</span>
        </li>
        <li class="lista">
          <span class="numero">9- </span>
          <span class="texto">Desça a tela para configurar <strong>Ordem das etapas</strong> e marque a opção de <strong>Ordem fixa</strong>, esta opção não vai deixar o aluno pular etapas.</span>
        </li>
        <li class="lista">
          <span class="numero">10- </span>
          <span class="texto">Desça a tela para configurar <strong>Ordem das etapas</strong> e marque a opção de <strong>Ordem fixa</strong>, esta opção não vai deixar o aluno pular etapas.</span>
        </li>
        <li class="lista">
          <span class="numero">11- </span>
          <span class="texto">Desça a tela e vá em <strong>Visibilidade</strong> e marque a opção <strong>Secreto</strong>.</span>
        </li>
        <li class="lista">
          <span class="numero">12- </span>
          <span class="texto">Desça a tela e vá em <strong>Número de participantes</strong> e marque a opção <strong>Limitado</strong> e defina para quantas pessoas deseja destinar a ficha.</span>
        </li>
      </ul>
      <h4 class="textos">Pronto, agora as configurações básicas estão prontas.</h4>
    </section>
  </main>
</body>
