<body>
  <main>
    <header>
      <h2 class="textos">Como enviar a ficha para o(s) aluno(s)</h2>
    </header>
    <section>
      <ul class="listas">
        <li class="lista">
          <span class="numero">1- </span>
          <span class="texto">Após montar a ficha com todas configurações, seções e etapas, basta abrir a ela na pagina inicial.</span>
        </li>
        <li class="lista">
          <span class="numero">2- </span>
          <span class="texto">Clique no botão <strong>Publicar</strong>.</span>
        </li>
        <li class="lista">
          <span class="numero">3- </span>
          <span class="texto">Caso tenha configurado na etapa <strong>Visibilidade</strong> como <strong>Público</strong>, qualquer aluno poderá acessar essa ficha.</span>
        </li>
        <li class="lista">
          <span class="numero">4- </span>
          <span class="texto">Caso tenha configurado na etapa <strong>Visibilidade</strong> como <strong>Privado(Recomendado)</strong>, basta clicar em <strong>Convidar participantes</strong> e escolher para quem vai destinar a ficha.</span>
        </li>
        <li class="lista">
          <span class="numero">5- </span>
          <span class="texto">Caso tenha configurado na etapa <strong>Visibilidade</strong> como <strong>Secreto(Não recomendamos usar este)</strong>, basta clicar em <strong>Convidar participantes</strong> e escolher para quem vai destinar a ficha, porém nesse método, o convidado precisa pedir para participar da ficha.</span>
        </li>
      </ul>
      <h4 class="textos">Pronto, o aluno ja pode abrir a ficha e começar com os treinos.</h4>
    </section>
  </main>
</body>
