<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <mat-toolbar class="nav-bar">
    <button mat-icon-button (click)="snav.toggle()" class="example-icon"><mat-icon class="icone" fontIcon="menu">menu</mat-icon></button>
    <a class="nome" routerLink="/inicio" (click)="snav.close()">Manual para o personal</a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="over">
      <mat-nav-list class="lista">
        <a  routerLink="/primeiros-passos" mat-list-item class="button" routerLinkActive="active-button" ariaCurrentWhenActive="page" (click)="snav.toggle()">Primeiros passos</a>
        <a  routerLink="/criar-ficha" mat-list-item class="button" routerLinkActive="active-button" ariaCurrentWhenActive="page" (click)="snav.toggle()">Como criar uma ficha</a>
        <a  routerLink="/enviar-ficha" mat-list-item class="button" routerLinkActive="active-button" ariaCurrentWhenActive="page" (click)="snav.toggle()">Como enviar a ficha</a>
        <a  routerLink="/adicionar-exercicio" mat-list-item class="button" routerLinkActive="active-button" ariaCurrentWhenActive="page" (click)="snav.toggle()">Como adicionar exercício</a>
        <a  routerLink="/adicionar-midia" mat-list-item class="button" routerLinkActive="active-button" ariaCurrentWhenActive="page" (click)="snav.toggle()">Como adicionar mídia no exercício</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="conteudo-principal">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<a href="https://wa.me/553799539019" target="_blank"><mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon" class="icone-whatsapp"></mat-icon></a>

