<body>
 <main>
  <header>
    <h1 class="texto">Bem vindo Personal</h1>
    <h4 class="texto">Aqui você tem acesso às informações da sua plataforma e aprende desde o básico ao avançado</h4>
  </header>
  <section class="topicos">
    <ul>
      <li class="lista-inicio"><a  routerLink="/primeiros-passos" mat-list-item class="button" ariaCurrentWhenActive="page">Primeiros passos</a></li>
      <li class="lista-inicio"><a  routerLink="/criar-ficha" mat-list-item class="button" ariaCurrentWhenActive="page">Como criar uma ficha</a></li>
      <li class="lista-inicio"><a  routerLink="/adicionar-exercicio" mat-list-item class="button" ariaCurrentWhenActive="page">Como adicionar exercício</a></li>
      <li class="lista-inicio"><a  routerLink="/enviar-ficha" mat-list-item class="button" ariaCurrentWhenActive="page">Como enviar a ficha</a></li>
    </ul>
  </section>
 </main>
</body>

