<body>
  <main>
    <header>
      <h2 class="textos">Como adicionar exercício</h2>
    </header>
    <section>
      <ul class="listas">
        <li class="lista">
          <span class="numero">1- </span>
          <span class="texto">Abra o aplicativo e clique no botão<strong> Gerenciar</strong> , que está localizado no canto direito inferior e clique em <strong>Programas Online</strong>.</span>
        </li>
        <li class="lista">
          <span class="numero">2- </span>
          <span class="texto">Vá em <strong>Rascunhos</strong> e ache a ficha que está montando.</span>
        </li>
        <li class="lista">
          <span class="numero">3- </span>
          <span class="texto">Ao abrir a ficha, você ira ver a seção <strong>Introdução</strong>, clique nela, vá nos <strong>3 pontinhos</strong> e exclua ela.</span>
        </li>
        <li class="lista explicacao">
          <span class="numero">3-a. </span>
          <span class="texto">As seções, como a <strong>Introdução</strong> que acabamos de excluír, é basicamente o dia ou treino que o aluno irá fazer, é nela que iremos adicionar os exercícios.</span>
        </li>
        <li class="lista">
          <span class="numero">4- </span>
          <span class="texto">Vamos criar uma seção, clique em <strong>Adcionar seção</strong> e coloque uma mídia de capa(opcional), nome, disponibilidade e uma descrição.</span>
        </li>
        <li class="lista">
          <span class="numero">5- </span>
          <span class="texto">Após criar uma seção, clique nela para adicionar os exercícios, clique em <strong>Adicionar etapa</strong>.</span>
        </li>
        <li class="lista explicacao">
          <span class="numero">5-a. </span>
          <span class="texto">As etapas são os exercícios daquela seção.</span>
        </li>
        <li class="lista">
          <span class="numero">6- </span>
          <span class="texto">Adicione o nome do exercício em <strong>Nomeia sua etapa</strong>.</span>
        </li>
        <li class="lista">
          <span class="numero">7- </span>
          <span class="texto">Adicione as informações daquele exercíco em <strong>Como os participantes concluem essa etapa?,</strong>como as séries, repetições, descanso entre séries, execução do exercício, carga e pode até colocar uma mídia para mostrar como o exercício funciona na prática.</span>
        </li>
        <li class="lista explicacao">
          <span class="numero">7-a. Adicionando a mídia<br></span>
          <span class="texto">Clique no botão  <img src="../../assets/img-adicionar-exercicio/botao.png" alt="adicionar exercício" class="botao"> no canto inferior esquerdo e selecione <strong>Mídia ou Vídeo</strong>, nelas você consegue inserir qualquer imagem, vídeo ou gif, consegue ainda editar, criar ou trazer videos da sua galeria ou youtube.</span>
        </li>
        <img src="../../assets/img-adicionar-exercicio/midia-video.png" alt="adicionar exercício" class="img-adicionar-exercicio">
        <img src="../../assets/img-adicionar-exercicio/exercicio-exemplo.png" alt="adicionar exercício" class="img-adicionar-exercicio">
      </ul>
      <h4 class="textos">Pronto, você adicionou um exercício para seu aluno.</h4>
    </section>
  </main>
</body>
